<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <div>
            <span class="second">
                <h2>Iniciar Sesion</h2>
            </span>
        </div>
        <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)" class="mt-3">
            <input type="email" ngModel id="email" class="fadeIn second" name="email" placeholder="example@gmail.com">
            <input type="password" ngModel id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->


    </div>
</div>