<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-6">
                    EcommersAT
                </div>

                <!-- col.// -->
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="widgets-wrap float-md-right">
                        <div class="widget-header  mr-3">
                            <a href="#" [routerLink]="['cart']" class="">Carrito</a>

                        </div>
                        <div class="widget-header icontext">
                            <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                            <div class="text">
                                <span class="text-muted">Welcome!</span>
                                <div>
                                    <span></span>
                                    <a *ngIf="user==1">{{ userName.nombre }}</a>
                                    <a [routerLink]="['/auth/login']" *ngIf="user==0">Entrar</a> |
                                    <a (click)="logout()">Salir</a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- widgets-wrap.// -->
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- container.// -->
    </section>
    <!-- header-main .// -->



    <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">Home</a>

                    </li>
                    <li class="nav-item dropdown" *ngIf="nivel == 'supervisor' || nivel == 'administrador'">
                        <a class="nav-link" [routerLink]="['/productos']" href="#">Productos</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="nivel == 'usuario'">
                        <a class="nav-link" [routerLink]="['/compras']" href="#">Mis compras</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="nivel == 'administrador'">
                        <a class="nav-link" [routerLink]="['/ventas']" href="#">Ventas</a>
                    </li>
                </ul>
            </div>
            <!-- collapse .// -->
        </div>
        <!-- container .// -->
    </nav>

</header>
<!-- section-header.// -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm p-5">
    <div class="container">

        <header class="section-heading">
            <h3 class="section-title">Mis productos</h3>
        </header>
        <!-- sect-heading -->

        <div class="row">
            <div class="col-md-3" *ngFor="let item of productosStorage;let i=index">
                <div href="#" class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="assets/images/items/1.jpg"> </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">{{ item.descripcion }}</a>
                        <div class="price mt-1 mb-2">{{ item.precio }}</div>
                        <button class="btn btn-danger">Quitar</button>
                        <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div>
        </div>

    </div>
    <!-- col.// -->

    <!-- row.// -->
    <div class="float-right">
        <a [routerLink]="['/paid']" class="btn btn-success " href="">Siguiente</a>
    </div>

    <!-- container // -->
</section>

<footer class="section-footer border-top bg ">
    <div class="container ">

    </div>
    <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->