<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-6">
                    EcommersAT
                </div>

                <!-- col.// -->
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="widgets-wrap float-md-right">
                        <div class="widget-header  mr-3">
                            <a href="#" [routerLink]="['cart']" class="">Carrito</a>
                        </div>
                        <div class="widget-header icontext">
                            <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                            <div class="text">
                                <span class="text-muted">Welcome!</span>
                                <div>
                                    <span></span>
                                    <a *ngIf="user==1">{{ userName.nombre }}</a>
                                    <a [routerLink]="['/auth/login']" *ngIf="user==0">Entrar</a> |
                                    <a (click)="logout()">Salir</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- widgets-wrap.// -->
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- container.// -->
    </section>
    <!-- header-main .// -->



    <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="nivel == 'supervisor' || nivel == 'administrador'">
                        <a class="nav-link" [routerLink]="['/productos']" href="#">Productos</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="nivel == 'usuario'">
                        <a class="nav-link" [routerLink]="['/compras']" href="#">Mis compras</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="nivel == 'administrador'">
                        <a class="nav-link" [routerLink]="['/ventas']" href="#">Ventas</a>
                    </li>


                </ul>
            </div>
            <!-- collapse .// -->
        </div>
        <!-- container .// -->
    </nav>

</header>
<!-- section-header.// -->




<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <button class="btn btn-outline-primary float-right" (click)="changeStatus('add')">Agregar</button>
            <h3 class="section-title">Agregar Producto</h3>
        </header>
        <!-- sect-heading -->
        <table class=" table table-bordered" *ngIf="status == 'table'">
            <thead>
                <tr>
                    <th scope="col">descripcion </th>
                    <th scope="col">Precio </th>
                    <th scope="col">Departamento </th>
                    <th scope="col">Acciones </th>
                </tr>
            </thead>
            <tbody *ngFor="let item of productosList">
                <tr>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.id_departamento }}</td>

                    <td>
                        <button (click)="showProdcuto(item.id)" class="btn btn-primary btn-xs">
                            <i class="fa fa-edit"></i> 
                        </button>
                        <button (click)="deleteProductoSeleccionado(item.id)" class="btn btn-danger btn-xs  ml-2">
                            <i class="fa fa-trash"></i> 
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="row" *ngIf="status=='add' ">
            <form [formGroup]="formProduct">
                <div class="form-group ">
                    <label chtmlFor="grid-password ">
                    Descripcion                </label>
                    <input type="text" formControlName="descripcion" id="descripcion" class="form-control" />
                </div>

                <div class="form-group ">
                    <label htmlFor="grid-password ">
                    precio               
                 </label>
                    <input type="text" formControlName="precio" id="precio" class="form-control" />
                </div>

                <div class="form-group ">
                    <label htmlFor="grid-password ">
                    Departamento                </label>
                    <input type="text" formControlName="id_departamento" id="id_departamento" class="form-control" />
                </div>

                <div class="float-right">
                    <button (click)="save()" class="btn btn-success">
                    <i class="fa fa-check "></i> Guardar
                </button>
                    <button (click)="changeStatus( 'table') " class="btn btn-danger">
                     Cancelar
                </button>
                </div>
            </form>


        </div>
        <!-- col.// -->

        <!-- row.// -->

    </div>
    <!-- container // -->
</section>
<footer class="section-footer border-top bg ">
    <div class="container ">

    </div>
    <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->